/* css reset */
p {
    display: block;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.bounding {
    width: 3in;
    height: 3in;
    position: relative;
    font-family: sans-serif;
    font-size: 10pt;
}
.bounding > div { 
    position: absolute;
}
.innerbox {
    width: 100%;
    height: 100%;
}
.lefttext {
    left: 20px;
    top: 0;
    font-weight: bold;
    transform: rotate(0.75turn);
    text-align: center;
}
.righttext {
    right: 20px;
    top: 0;
    font-weight: bold;
    transform: rotate(0.25turn);
    text-align: center;
}
.outside-cutting-wrapper {
    border: black solid thick;
    width: fit-content;
    height: fit-content;
    display: inline-block;
}

.half-up {
    box-sizing: border-box;
    left: 0;
    top: 10px;
    padding-left: 20px;
    padding-right: 20px;
}
.half-down {
    box-sizing: border-box;
    transform: rotate(0.50turn);
    left: 0;
    bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

.colored-border {
    border: 20px solid white;
    border-radius: 10px;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}
.red .colored-border {
    border-color: red;
}
.blue .colored-border {
    border-color: blue;
}
.black .colored-border {
    border-color: black;
}
.yellow .colored-border {
    border-color: yellow;
}
.green .colored-border {
    border-color: green;
}

.card-cost {
    height: 20px;
    background-color: white;
    min-width: 75px;
    white-space: nowrap;
    padding-left: 2px;
    padding-right: 2px;
}

.card-cost-up {
    right: 20px;
    top:0;
}

.card-cost-down {
    left: 20px;
    bottom:0;
    transform: rotate(0.50turn);
}

span.icon-image {
    display: inline-block;
    min-width: 16px;
}

.icon-image {
    width: 16px;
    height: 16px;
}
.black .icon-image-corner,
.icon-image.black {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAQAAAC1+jfqAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QAAKqNIzIAAAAJcEhZcwAADsQAAA7EAZUrDhsAAAAHdElNRQfjCQQTGDP93dLMAAAAiklEQVQoz6XQoQ3CUBSF4a/NwxTXBIEhwRCGANIE2RHYgAW6AmEAWAJGwIDEg2eHYiApCtdX02Pvn3Nyf/omkdtbGLTcPm6qxNnM0bcFCLae1Mpof6kOMhvLCDCRBYyFCDCCRhGdKDRp548vl+4Gout/S9PU2zAKrN0TJ3OHqKhHIreziqi+qvTOD4cXGJZqDucWAAAAJXRFWHRkYXRlOmNyZWF0ZQAyMDE5LTA5LTA0VDE5OjI0OjUxKzAwOjAwe+o7oAAAACV0RVh0ZGF0ZTptb2RpZnkAMjAxOS0wOS0wNFQxOToyNDo1MSswMDowMAq3gxwAAAAZdEVYdFNvZnR3YXJlAHd3dy5pbmtzY2FwZS5vcmeb7jwaAAAAAElFTkSuQmCC);
}
.black span.icon-image-corner {
    background-position-y: 2px;
}
.black div.icon-image-corner,
.blue div.icon-image-corner {
    filter: invert(100%);
}

.yellow .icon-image-corner,
.icon-image.yellow {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAQAAAC1+jfqAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QAAKqNIzIAAAAJcEhZcwAADsQAAA7EAZUrDhsAAAAHdElNRQfjCQQVAht8yPxfAAABBElEQVQoz3XQSyuEYRjG8Z8ZUyalKCRzUFIyH8BhQ5q9D6CmbCzZ+xbKwtqSNVEjSwtZmpKi1ygzFqzG5JCxmPd9jdO9vJ9/1/1/Lph2ouZA2ZGMa6t+zKY9a+6VTEkoejb29ZjAvYYTSTsqPpSdm/kOBPICg3rD3ZmiYSW7ptqLOdd4MhkCE6renKpYjxIykgL5ELiS1WvWqXTk0DIikNcnG0KvaOppAx+q8gIbapYMxH7PUUKkWVewpRDLdgC3cgKvbtC0LY2kfim644TjUPJSTt2drEfL0bUVB4a8S8UfnTeu66uuRRe6NDor7myyfaKlGjfxC6hKW/Bi1L9z6MH+X8AnlLRG+AaQt7EAAAAldEVYdGRhdGU6Y3JlYXRlADIwMTktMDktMDRUMjE6MDI6MjcrMDA6MDBh7zizAAAAJXRFWHRkYXRlOm1vZGlmeQAyMDE5LTA5LTA0VDIxOjAyOjI3KzAwOjAwELKADwAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAAAASUVORK5CYII=);
}

.blue .icon-image-corner,
.icon-image.blue {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAQAAAC1+jfqAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QAAKqNIzIAAAAJcEhZcwAADdcAAA3XAUIom3gAAAAHdElNRQfjCQUBCxMAQqPtAAAA/UlEQVQoz23Qv0qCURgH4OczFSQcKlCsaAkzQhBqqSWHptoauoUuqgto6ga6hFoCxcgswoqgwBrSyv5oQ9r3Sb3jex5+5/xOIDpjdrHnK7qKzpp5SX034SoWOU7Lq6tbkP4vIbCt68idnILaX7BhSkXTC+ZMuhoFRSU1Z971tCUs+XAfgglbLlS0wYdnKSUN3SHY1HXs8fe6Nx1ZOefDFssqWiOFW6pWwppjPhFEwKeOJMQHIKPnQWckJQgT4jLKZiIZMQn9EDS9ysqblhqgcbNuw5rXtp1aVPCkhZSidfs6Q9D2YsOJS12vxq0qO9Qw8vKsHUWBQE/Vwc8/8g1MWENBwmHqFwAAACV0RVh0ZGF0ZTpjcmVhdGUAMjAxOS0wOS0wNFQyMzoxMToxOSswMjowMF+zXQ4AAAAldEVYdGRhdGU6bW9kaWZ5ADIwMTktMDktMDRUMjM6MTE6MTkrMDI6MDAu7uWyAAAAGXRFWHRTb2Z0d2FyZQB3d3cuaW5rc2NhcGUub3Jnm+48GgAAAABJRU5ErkJggg==);
}

.red .icon-image-corner,
.icon-image.red {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAQAAAC1+jfqAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QAAKqNIzIAAAAJcEhZcwAADsQAAA7EAZUrDhsAAAAHdElNRQfjCQUBDyYynaLKAAAAu0lEQVQoz5XRMU5CURAF0PPJbyjE1rgFwg78DYkuAUMIayGhVBoKtuEONMa4Bhs7ItCxADAZCh5PjF+MM828d+/cuZPhnzE1PQXfCqH3G3zmQwhLrXrCvUh5Vwe3bYSJibDR/kl4FMK1GyG8KPbfjQQPdEFTE1T63+0t0vRe2iSsnH8pjF0m6kGBC6NDf8c2+3/ynOutDg2FmTIPe/eW69JMURqqjtysfR69KkPmWbIu56UHVyeu8/rneXeqGEZ9LTE63QAAACV0RVh0ZGF0ZTpjcmVhdGUAMjAxOS0wOS0wNFQyMzoxNTozOCswMjowMLIK8b0AAAAldEVYdGRhdGU6bW9kaWZ5ADIwMTktMDktMDRUMjM6MTU6MzgrMDI6MDDDV0kBAAAAGXRFWHRTb2Z0d2FyZQB3d3cuaW5rc2NhcGUub3Jnm+48GgAAAABJRU5ErkJggg==);
}

.white .icon-image-corner,
.icon-image.white {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAQAAAC1+jfqAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QAAKqNIzIAAAAJcEhZcwAADsQAAA7EAZUrDhsAAAAHdElNRQfjCRkCFwENBdmGAAAAvElEQVQoz33OIU9CURQH8B/PzTkouhktFjEQCDYpbH4bg5FC0DErfAwD34BCN8sMGjTC2CQ5NtRD4AkP9h6/W+7+555zD/+OPRiZG3vWcWrHpU+ROWP1bDnxIoQ3j3qmQhgpbR5cCWGSDm6kU2qrXpj5wb0peF1vlVHVWN87Qvh2Ikeim37QyisfehLCr7ZcbSF8uVFgKISmQncW+vY62B+cu1X2XtSd+BD+XG+HG0fOUHJRvEHLzEAlGy0BI6c7/ExNZNEAAAAldEVYdGRhdGU6Y3JlYXRlADIwMTktMDktMjVUMDI6MjM6MDErMDA6MDDRRHE+AAAAJXRFWHRkYXRlOm1vZGlmeQAyMDE5LTA5LTI1VDAyOjIzOjAxKzAwOjAwoBnJggAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAAAASUVORK5CYII=);
}

.green .icon-image-corner,
.icon-image.green {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAQAAAC1+jfqAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QAAKqNIzIAAAAJcEhZcwAADsQAAA7EAZUrDhsAAAAHdElNRQfjCRkCGAYU+VDqAAAAwUlEQVQoz23QPU4CURTF8d/IhB2ICbMDOntiSYdLcAkaEhZAaUfsqN2CEmKkpLN3B0OC7ICEj4KZkTvDqc457//uzXuJs0baonamkIKee+814EnPLwl486GpoZdywo+JVe24b3YZJ437RXNTxGPlyv4Qga3bAHRszyYtilzXxqMHbV/muvI4IZehb+zZAFkdWMvQAgdk1nHFRgdLU4lv3PmLwF4LC4siJ/ZxRfmnjRRff0X/wDH0VUqraun1AvgszQnN5iUiU0Vg+gAAACV0RVh0ZGF0ZTpjcmVhdGUAMjAxOS0wOS0yNVQwMjoyNDowNiswMDowMPY/VMkAAAAldEVYdGRhdGU6bW9kaWZ5ADIwMTktMDktMjVUMDI6MjQ6MDYrMDA6MDCHYux1AAAAGXRFWHRTb2Z0d2FyZQB3d3cuaW5rc2NhcGUub3Jnm+48GgAAAABJRU5ErkJggg==);
}

.icon-image-tl {
    top: 4;
    left: 4;
}
.icon-image-tr {
    top: 4;
    right: 4;
    transform: rotate(0.25turn);
}
.icon-image-lr {
    bottom: 4;
    right: 4;
    transform: rotate(0.50turn);
}
.icon-image-ll {
    bottom: 4;
    left: 4;
    transform: rotate(0.75turn);
}

.half-template {

}

.half-template .card-name {
    font-size: 110%;
}

.half-template img.main-half {
    width: 96px;
    height: 96px;
    position: absolute;
    left: 60px;
    top: 20px;
}

.half-template img.icon-image {
    width:auto;
    height: 24px;
    margin: 10px 5px 0 5px;
}

.half-template img.icon-image.draw-stat {
    padding: 0 1px 0 3px;
}

.stats-template {
    position: absolute;
    left: 1.75in;
    top: .2in;
}

.stats-template p {
    margin-block-start: 0.25em;
}